.head{
    display: flex;
    justify-content: space-between;
}
.head img{
    height: 24px;
}
.head button{
    height: 30px;
}
.body{
    text-align: center;
}
.body img{
    height: 270px;
}
.i1{
    border: 1px solid black;
    width: 360px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.footer{
    text-align: center;
}